@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ヘッダーcss始まり */
.logo {
  width: 100vw;
}

@media (min-width: 625px) {
  .list {
    list-style-type: none;
    padding: 0; 
    display: flex; 
    width:96vw;
  }

  .headlist {
    width:20vw;
  }
}

@media (max-width: 625px) {
  .list {
    list-style-type: none;
    padding: 0; 
    display: flex; 
    width:610px;
  }

  .headlist {
    width:125px;
  }

  .uldiv {
    width:610px;
  }
}
/* ヘッダーcss終わり */
  



